@import "../globals";

#contentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#headingContainer {
  display: flex;
  justify-content: center;
}

#photo {
  margin: 40px 25px;
  img {
    width: 350px;
  }
}

#description {
  width: 70%;
  line-height: 28px;
  font-size: 18px;
  font-weight: 600;
  width: 40%;
  min-width: 300px;
  margin-bottom: 20px;

  span {
    color: $yellow;
  }
}

.container {
  display: flex;
  align-items: center;
}
