@import "../globals";

#contentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#headingContainer {
  display: flex;
  justify-content: center;
}

#photo {
  margin: 60px 25px;
  img {
    width: 350px;
    border: 1px solid $secondary-background;
  }
}

#description {
  width: 70%;
  line-height: 28px;
  font-size: 14px;
  width: 40%;
  min-width: 300px;
}

.container {
  display: flex;
  align-items: center;
}
