@import "../globals";

#contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#headingContainer {
  display: flex;
  justify-content: center;
}

#photo {
  margin: 60px 25px;
  border: 1px solid $gray;
  img {
    width: 250px;
  }
}

#description {
  width: 70%;
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
  width: 40%;
  min-width: 300px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  align-items: center;
}
