@import url('https://fonts.googleapis.com/css2?family=Rajdhanidisplay=swap');

$font: "menlo", sans-serif;

$primary-background: rgb(30, 30, 30);

$white: rgb(200, 200, 200);
$gray: rgb(80, 80, 80);
$yellow: rgb(246, 194, 74);
$blue: rgb(82, 162, 241);

$debug: 1px solid rgb(255, 0, 0);
