$primary-background: #232936;
$secondary-background: rgb(23, 23, 23);

$white: rgb(240, 240, 240);
$yellow: rgb(246, 194, 74);
$yellow-glow: rgba(246, 194, 74, 0) 0px 0px 16px;
$blue-glow: rgba(63, 136, 238, 0) 0px 0px 16px;

$debug: 1px solid rgb(255, 0, 0);
