$primary-background: #232936;
$secondary-background: rgb(23, 23, 23);

$white: rgb(240, 240, 240);
$yellow: rgb(228, 178, 62);
$yellow-glow: rgba(228, 178, 62, 0.7) 0px 0px 16px;

$debug: 1px solid red;
