@import "./globals";

#main {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 60px;
  width: 100%;
}

@media (max-width: 600px) {
  #heading {
    margin-top: 200px;
    left: 0;
    right: 0;
  }
}
