@import "./globals";

#heading {
  margin-top: 60px;
  font-size: 1.25rem;
  text-align: center;
  // display: flex;
  // justify-content: center;
}

@media (max-width: 600px) {
  #heading {
    margin-top: 200px;
    left: 0;
    right: 0;
  }
}
