@import "./globals";

* {
  font-family: $font;
  margin: 0;
  color: $white;
}

body {
  background-color: $primary-background;
  color: $white;
  width: absolute;
}

a {
  text-decoration: none;
  color: inherit;
}

#main {
  display: flex;
}

#left {
  width: 30%;
  max-width: 300px;
  min-width: 200px;
  height: 100%;
  float: left;
}

@media (max-width: 600px) {
  #left {
    position: absolute;
  }
}

span {
  color: $blue;
}
