@import "./globals";

* {
  font-family: "Menlo", sans-serif;
  margin: 0;
  // border: 1px solid red;
}

body {
  background-color: $primary-background;
  text-shadow: $yellow-glow;
  color: $white;
  width: absolute;
}

a {
  text-decoration: none;
  color: inherit;
}

#main {
  display: flex;
}

#left {
  width: 30%;
  max-width: 300px;
  min-width: 200px;
  height: 100%;
  float: left;
}

@media (max-width: 600px) {
  #left {
    position: absolute;
  }
}
