@import "./globals";

#main {
  padding: 15px;
}

#current {
  color: $yellow;
  text-shadow: $yellow-glow;
}

#default {
  color: $white;
}

#default:hover {
  color: $yellow;
  text-shadow: $yellow-glow;
  transition: all 0.3s ease 0s;
}

@media (max-width: 600px) {
  .route {
    padding: 1px;
  }
}
