@import "./globals";

.route {
  margin-right: 40px;
}

#current {
  color: $yellow;
  text-shadow: $yellow-glow;
}

#default {
  color: $white;
}

#default:hover {
  color: $yellow;
  text-shadow: $yellow-glow;
  transition: all 0.3s ease 0s;
}
