@import "./globals";

#main {
  padding: 15px;
}

#current {
  color: $blue;
}

#default {
  color: $white;
}

#default:hover {
  color: $blue;
  transition: all 0.3s ease 0s;
}

@media (max-width: 600px) {
  #main {
    padding: 1px;
  }
}
