@import "./globals";

#navbar {
  background-color: $secondary-background;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  align-items: center;

  .item {
    color: $white;
    padding: 15px;
  }
  
  #title {
    font-size: 1.25rem;
  }
  
  #author {
    margin-left: auto;
    font-size: 0.75rem;
  }
}
