@import "globals";

#main {
  width: 100%;
  border: 1px solid $gray;
  margin: 20px 50px;
  padding: 10px;
}

// .container {
//   padding-bottom: 5px;
// }

#title {
  padding-bottom: 10px;
}

#technologies {
  padding-bottom: 10px;
  ul {
    list-style-type: circle;
  }
}

#desc {
  padding-bottom: 5px;
}

#link {
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px solid $gray;
}

@media (max-width: 600px) {
  #main {
    margin: 30px 40px;
  }
}
